main {
  margin-top: 15vh;
  min-height: 90vh;
}

h1 {
  font-size: 1.4rem !important;
  padding-bottom: 1rem !important;
  border-bottom: 1px solid #000;
  margin-bottom: 1.5rem !important;
}

h2 {
  font-size: 1rem !important;
}
